.container-fluid {
    color:rgb(250, 249, 248);
    font-weight: bold;
    }

#contenedor{
    color:rgb(250, 249, 248);
    background-color: rgba(8, 8, 8, 0.562);
    font-weight: bold;
    }




